#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0.5em;
  /* text-align: center; */
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}



/* NEW */
input { margin: 5px;}
li {border-radius: 5px;}
label {width: 100%; padding: 5%; display: inline-block;}
.highlighted {background: #d2eaff; color: #010101;}